.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .datatable-crud-demo .table-header {
        align-items: flex-start;
    }
}

input[type="search"] {
    width: 900px!important;
}
.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .datatable-crud-demo .p-toolbar {
        flex-wrap: wrap;
    }
    .datatable-crud-demo .p-toolbar .p-button {
        margin-bottom: 0.25rem;
    }
    .datatable-crud-demo .table-header {
        flex-direction: column;
    }
    .datatable-crud-demo .table-header .p-input-icon-left, .datatable-crud-demo .table-header input {
        width: 100%;
    }
}

.p-button {
    margin: 5px!important;
}

.complexity {
    display: flex;
    justify-content: space-between;
}

.complexity-button {
    margin: 5px;
}

.product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-badge.status-waiting {
    background: #FFCDD2;
    color: #C63737;
}

.product-badge.status-inprogress {
    background: #76cfef;
    color: #2d5f81;
}

.product-badge.status-testing {
    background: #fff0db;
    color: #948b39;
}

.product-badge.status-done {
    background: #C8E6C9;
    color: #256029;
}